<template>
  
      <div class="item clearfix">
        <img :src="'/dist/' + itemcheck.image" class="item-image">
        <div class="item-details">
          <p class="item-title">{{itemcheck.title}}</p>
          <span class="close"  @click="remove">&times;</span>

          <p class="item-price">
            <span class="incbtn" @click="incrementInCart">+</span>
            <span>{{itemcheck.qty}}</span>
            <span class="decbtn" @click="decrementInCart">- </span>
            <span class="right"> {{itemcheck.qty * itemcheck.price}} EGP</span>
          </p>
        </div>
      </div>
    
</template>
<script>

  import State from '../shoppingCartState'

  export default {
    props: ['itemcheck'],
     methods: {
      incrementInCart () {
        State.incrementInCart(this.itemcheck)
      },
      decrementInCart () {
        State.decrementInCart(this.itemcheck )
      } ,
      remove () {
        State.remove(this.itemcheck)
      }
    }
  }


</script>
<style>
  .items {
    height: 300px;
    overflow-y: scroll
  }

  .item {
    padding: 0.75em 0.5em;
    border-top: 1px solid #ddd;
    position: relative;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer
  }
  .right {
    float: right;
  }

  .item-image {
    float: left;
    width: 50px;
  }
  .item-details {
    float: left;
    width: calc(100% - 60px);
    padding-left: 0.75em;
  }
  .item-title {
    margin: 0;
    font-weight: bold;
  }
  .item-price {
    margin: 0;
    font-size: 0.9em;
  }
  .incbtn,
  .decbtn {
    padding: 0 8px;
    margin: 5px 10px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    background-color: #35495E
  }
  .incbtn{
      /* background-color: #2db644; */
      margin-left: 0
  }
  .decbtn{
      /* background-color: #b63d2d; */
      margin-right: 0%
  }
</style>